@charset "UTF-8";
/**
 * Reset some basic elements
 */
@import url("http://fonts.googleapis.com/css?family=Roboto:wght@100;300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body, h1, h2, h3, h4,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
  * Basic styling
  */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 300;
  color: #111;
  background-color: #f5f5f5;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 7.5px;
}

/* additional vertical rhythm: add space between the title and the previous paragraph */
h2, h3, h4 {
  padding-top: 15px;
}

/**
  * Images
  */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure {
  padding: 20px 0 20px 0;
  margin: auto;
}

figure > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-size: 14px;
  color: #828282;
  text-align: center;
  padding: 2px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 15px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/**
 * Links
 */
a {
  color: #0e80c1;
  text-decoration: none;
  /*
    &:visited {
      color: darken($brand-top-color, 25%);
    }
  */
}
a:hover {
  color: #669900;
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote::before {
  position: absolute;
  font-family: FontAwesome;
  content: "\f10d";
  font-size: 25px;
}

blockquote {
  padding: 10px 10px;
  margin: 10px 0;
  border-left: 5px solid rgb(140, 191, 165);
  border-radius: 3px;
  color: #828282;
  background: #f9f9f9;
  /*
    &:hover {
      color: #454545;
    }
  */
}
blockquote p {
  margin-left: 35px;
  margin-top: 5px;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre, code {
  font-size: 14px;
  border-radius: 3px;
  background-color: rgb(246, 248, 250);
}

code {
  padding: 1px 5px;
  line-height: 1.5em;
}

/*
pre {
  padding: 8px 12px;
  overflow: auto; 

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}*/
/**
 * Clearfix
 */
/**
 * Table
 */
table {
  padding: 0;
  margin-bottom: 5px;
  border-collapse: collapse;
  font-size: 14px;
}

table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  margin: 0;
  padding: 3px 6px;
}

table tr td {
  border: 1px solid #cccccc;
  margin: 0;
  padding: 3px 6px;
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}

/**
 * line between each post on main page
 */
hr {
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid #ccc;
}

cite {
  font-style: italic;
  text-decoration: underline;
}

.p1 {
  font-family: "Times New Roman", Times, serif;
}

/**
 * New style for quotation.
 */
q:before {
  content: "『";
  color: #DD1144;
  font-weight: bold;
}

q:after {
  content: "』";
  color: #DD1144;
  font-weight: bold;
}

/**
 * main page style
 */
.card {
  display: block;
  min-height: 1px;
  margin: 30px auto;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.card-container {
  min-height: calc(100vh - 70px - 55px);
  max-width: 800px;
  margin: 0 auto;
}

/* navigation bar related*/
.navbar {
  background-color: #ffffff;
  box-shadow: none;
  border-bottom: 1px solid #e8e8e8;
}

.navbar-logo {
  height: 50px;
}

.navbar-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-menu > li {
  display: inline-block;
  padding: 10px;
}
.main-menu > li > a {
  font-size: 1.2rem;
  color: #424242;
}
.main-menu > li > a:hover {
  text-decoration: none;
  font-weight: bold;
}

/*aboutme page */
.about-img {
  float: left;
  height: 300px;
  margin-right: 45px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.about-cv a {
  background-color: #f5f5f5;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  padding: 10px;
  color: #111;
}
.about-cv a:hover {
  background-color: gainsboro;
  color: #669900;
}

.about-icon i.fa, .about-icon i.ai {
  color: rgb(98, 64, 92);
  transition: color 0.4s ease 0s;
}
.about-icon i.fa:hover, .about-icon i.ai:hover {
  color: #669900;
}

/* post related */
.post-meta {
  color: #7a7a7a;
  font-size: 0.75rem;
}
.post-meta a {
  color: inherit;
}
.post-meta a:hover {
  color: #669900;
}

/* useless ???
.post-content {
    font-size: $base-font-size;
}
*/
/*footer related*/
.footerbar {
  display: flex;
  background-color: #ffffff;
}

.footerbar-container {
  max-width: 800px;
  margin: 15px auto;
}

.footerbar-content {
  color: #424242;
  font-size: 12px;
}
.footerbar-content a {
  color: #111;
  text-decoration: none;
}

/* tags */
#tag-a {
  margin: 10px 10px;
  font-size: 14px;
}
#tag-a:hover {
  text-decoration: none;
}

.tag-left {
  background-color: #5c5c5c;
  padding: 5px 10px;
  margin: 0;
  border-radius: 4px 0 0 4px;
  color: #fff;
}

.tag-right {
  background-color: gainsboro;
  padding: 5px 10px;
  margin-left: -5px;
  border-radius: 0 4px 4px 0;
  color: #111;
}

/* archives */
.archive-box li {
  list-style: none;
  font-weight: bold;
  margin-top: 10px;
}

/* categories */
.category-box {
  padding: 10px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  color: #111;
}
.category-box:hover {
  background-color: #f5f5f5;
  text-decoration: none;
  color: inherit;
}

/* publications */
.pub-container {
  padding: 0;
  margin-bottom: 2rem;
}

.pub-meta {
  line-height: 1em;
  color: #828282;
}
.pub-meta h4 {
  font-weight: bold;
  color: #111;
}
.pub-meta b {
  color: #111;
  font-weight: normal;
}

.pub-icon {
  padding: 5px 15px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #111;
  font-size: 12px;
  color: #111;
}
.pub-icon:hover {
  border: 1px solid #669900;
}

.pub-content {
  max-width: 500px;
  font-size: 14px;
  color: #111;
  line-height: 1.4em;
}

.hidden {
  max-height: 0px;
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-bottom: 10px;
}

.open {
  margin: 0 5px;
  padding: 5px;
  max-height: 100rem;
  border: 1px dashed #111;
  transition: max-height 1s ease;
}

/* pagination */
.pagination {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination-pre-next {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #fff;
  color: #111;
  font-size: 14px;
  /*&:hover {
      text-decoration: none;
      color: inherit;
  }*/
}

.pagination-icon {
  padding: 3px 10px;
  margin: 0 5px;
  color: #111;
  background-color: #fff;
  border-radius: 4px;
}
.pagination-icon:hover {
  color: inherit;
  text-decoration: none;
}

.no-hover-effect:hover {
  color: #111;
  text-decoration: none;
}

.pagination-icon-selected {
  background-color: #0e80c1;
  color: #fff;
}

#back-top-button {
  display: none;
  color: #fff;
  padding: 0 10px;
  padding-top: 8px;
  border-radius: 10px;
  background-color: #c2c2c2;
  position: fixed;
  bottom: 100px;
  right: 450px;
}
#back-top-button:hover {
  background-color: #424242;
}

/**
* theorem, remark, example, quote
*/
.theorem {
  background: #f5f5f5;
  border: 1px solid #828282;
  margin: 10px 0;
  padding: 10px 15px;
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 18px;
  font-style: italic;
  color: #111;
}
.theorem p {
  margin: 0;
}
.theorem ol {
  list-style-type: none;
}
.theorem li:before {
  content: "(" counter(section, decimal) ")  ";
}
.theorem li {
  counter-increment: section;
}

.remark {
  background: #f9f9f9;
  border-left: 4px solid rgb(151, 151, 151);
  margin: 10px 0;
  padding: 5px 15px;
  font-family: Times, "Times New Roman", Georgia, serif;
  color: #111;
}
.remark p {
  margin: 0;
}

.note {
  background: #f9f9f9;
  border-left: 4px solid rgb(151, 151, 151);
  margin: 10px 0;
  padding: 10px 15px;
  color: #424242;
}
.note p {
  margin: 0;
}

.example {
  margin: 10px 0;
  padding: 10px 30px;
}

.quote-source {
  text-align: right;
  font-size: 14px;
  margin: 0;
}

.proof {
  border: 2px solid gray;
  margin: 10px 0;
}
.proof a {
  color: #111;
  text-decoration: none;
}

.proof-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 30px;
  margin-top: 10px;
  transition: max-height 0.5s ease;
}

.pub {
  margin: 25px 0;
}
.pub a {
  color: #111;
}
.pub a:hover {
  color: red;
}
.pub a:hover > .pub-icon {
  border: 1px solid red;
}

.pub-title {
  font-size: 18px;
}

/*
.pub-meta {
    line-height: 1.2em;
    color: $grey-color;
    b {
        color: $text-color;
        font-weight: normal;
    }
}

.pub-icon {
    margin: 5px 5px;
    //padding: 0 5px;
    border: 1px solid #111;
    border-radius: 3px;
    width: 40px;
    display: inline-block;
    text-align: center;
    font-size: $tiny-font-size;
}

.pub-content {
    margin: 0 5px;
    //background-color: $grey-color;
    font-size: $small-font-size;
    line-height: 1.4em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
*/
.pub-content-pad {
  padding: 10px 15px;
  border: 1px dashed #111;
  border-radius: 3px;
}

/*# sourceMappingURL=main.css.map */